<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
<body class="bg-light">
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light border-bottom small">
    
</nav>
<!-- navbar end -->
@* <!-- header --> *@
@* <header class="main-header py-5 border-bottom"> *@
@*     <div class="container"> *@
@*         <div class="row gx-md-5 align-items-center"> *@
@*             <div class="col-md-6"> *@
@*                 <h1 class="fs-3"> *@
@*                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor *@
@*                     nisi rem illum voluptate repellendus sunt suscipit?` *@
@*                 </h1> *@
@*                 <p class="fs-5 fw-light text-secondary"> *@
@*                     Lorem, ipsum dolor sit amet consectetur adipisicing elit. *@
@*                     Doloremque odio atque neque, aspernatur iste voluptate incidunt *@
@*                     esse velit nostrum labore. *@
@*                 </p> *@
@*                 <a class="btn btn-danger btn-md"> *@
@*                     <svg *@
@*                         xmlns="http://www.w3.org/2000/svg" *@
@*                         viewBox="0 0 448 512" *@
@*                         width="12px" *@
@*                         height="12px" *@
@*                     > *@
@*                         <path *@
@*                             fill="#ffffff" *@
@*                             d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" *@
@*                         /> *@
@*                     </svg> *@
@*                     <span class="small">Sign-up for Free</span> *@
@*                 </a> *@
@*             </div> *@
@*             <div class="col-md-6"> *@
@*                 <div> *@
@*                     <!-- w-100 la image rong 100% cua cha no --> *@
@*                     <img *@
@*                         class="rounded w-100" *@
@*                         src="~/img/main-header.jpg" *@
@*                         alt="" *@
@*                         srcset="" *@
@*                     /> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </header> *@
@* <!-- header end --> *@

<div class="container d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        @Html.Partial("_Menu")
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
   
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>