<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
<body class="bg-light">
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light border-bottom small">
    <div class="container">
        <!-- navbar branch -->
        <a class="navbar-brand" href="#">
            <img src="~/img/logo-tuhoc-light.png" alt="" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- menu item -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Contact</a>
                </li>
            </ul>

            <!-- login and register -->
            <div class="d-flex flex-column gap-1 mb-1 mb-lg-0 me-1 flex-md-row">
                <a class="btn btn-danger d-flex align-items-center gap-2 btn-sm">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        width="12px"
                        height="12px"
                    >
                        <path
                            fill="#ffffff"
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                        />
                    </svg>
                    <span class="small">Sign-up for Free</span>
                </a>
                <a class="btn btn-warning d-flex align-items-center gap-2 btn-sm">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                        width="12px"
                        height="12px"
                    >
                        <path
                            fill="#ffffff"
                            d="M320 32c0-9.9-4.5-19.2-12.3-25.2S289.8-1.4 280.2 1l-179.9 45C79 51.3 64 70.5 64 92.5L64 448l-32 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 192 0 32 0 0-32 0-448zM256 256c0 17.7-10.7 32-24 32s-24-14.3-24-32s10.7-32 24-32s24 14.3 24 32zm96-128l96 0 0 352c0 17.7 14.3 32 32 32l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-32 0 0-320c0-35.3-28.7-64-64-64l-96 0 0 64z"
                        />
                    </svg>
                    <span class="small">Login</span>
                </a>
            </div>
            <!-- form search -->
            <form class="d-flex">
                <input
                    class="form-control form-control-sm me-0"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <button class="btn btn-success btn-sm" type="submit">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        width="16px"
                        height="16px"
                    >
                        <path
                            fill="#ffffff"
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                        />
                    </svg>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- navbar end -->
<!-- header -->
<header class="main-header py-5 border-bottom">
    <div class="container">
        <div class="row gx-md-5 align-items-center">
            <div class="col-md-6">
                <h1 class="fs-3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor
                    nisi rem illum voluptate repellendus sunt suscipit?`
                </h1>
                <p class="fs-5 fw-light text-secondary">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Doloremque odio atque neque, aspernatur iste voluptate incidunt
                    esse velit nostrum labore.
                </p>
                <a class="btn btn-danger btn-md">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        width="12px"
                        height="12px"
                    >
                        <path
                            fill="#ffffff"
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"
                        />
                    </svg>
                    <span class="small">Sign-up for Free</span>
                </a>
            </div>
            <div class="col-md-6">
                <div>
                    <!-- w-100 la image rong 100% cua cha no -->
                    <img
                        class="rounded w-100"
                        src="~/img/main-header.jpg"
                        alt=""
                        srcset=""
                    />
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>